* {
    box-sizing: border-box;
}

/* Estilo HEADER Y FOOTER */
header {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background-color: #6d28a1;
    background-size: cover;
}

a.nav {
    justify-content: space-around;
    color: white;
    font-size: 25px;
    background-color: #1e20619e;
    padding: 1%;
    width: 200px;
    border-radius: 7%;
    margin: 10px;
}

nav.nav {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

body {
    margin: 0px;
}


footer {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background-color: rgb(131, 72, 133);
    color: white;
    font-size: 25px;
    width: 100%;
    height: 5vh;

}


/* Estilo HOME (index) */
a {
    display: flex;
    text-decoration: none;
}

nav {
    display: flex;
    justify-content: space-between;
}

.listados {
    color: white;
    text-align: center;
    background-color: #1e20619e;
    background-size: 100%;
    font-size: 30px;

}

.caja {
    display: flex; /* defini al contenedor padre como un un contenedor flexible.*/
    flex-wrap: wrap; /*container respete los anchos de sus hijos.*/
    flex-direction: row; /*crear filas*/
    justify-content: space-evenly; /*alinear contenido sobre el main axis*/
    margin-bottom: 30px;
}

li {
    list-style-type: none;
}

.textoindex {
    color: white;
    text-align: center;
}

.cuerpo {
    background-color: #37404b;
}

a.img {
    /*boton ver mas*/
    background-color: rgb(131, 72, 133);
    border: solid 2px rgb(95 55 96);
    padding-top: 5px;
    padding-bottom: 5px;
    padding-right: 15px;
    padding-left: 15px;
    color: white;

    justify-content: space-around;
}

.fondo {
    background-color: #1e20619e;
    padding: 1%;
}

ul {
    padding: 0px;
}

/* Estilo DETALLE PELICULAS (detail-movie) */
.bodydetailmovie {
    background-image: url(../img/MammaMiacover\ copy.webp);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    height: 100%;
    color: rgb(0, 0, 0);
}

.maindetailmovie {
    background-color: #37404b;
    width: 90vw;
    margin: auto;
    margin-top: 2%;
    margin-bottom: 2%;
    padding: 2%;
}

.section1detailmovie {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
}

.movieposterdetailmovie {
    width: 35%;
    height: initial;
}

.articlesection1detailmovie {
    background-color: rgba(255, 255, 255, 0.56);
    padding: 2%;
    text-align: center;
    width: 50vw;
    border-radius: 5%;
    border: dotted 5px #37404b;
    font-size: 24px;
}

.titledetailmovie {
    font-size: 70px;
    margin: 2%;
    margin-bottom: 60px;
}

.psection1detailmovie {
    margin-top: 0%;
    margin-bottom: 65px;
}

.h4section1detailmovie {
    margin-bottom: 2%;
}

.section2detailmovie {
    background-color: rgba(255, 255, 255, 0.56);
    padding: 1% 5% 2% 5%;
    text-align: center;
    margin: 2%;
    margin-left: 0;
    margin-right: 0;
    font-size: 18px;
}

.section3detailmovie {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    align-items: stretch;
}

.articlesection3detailmovie {
    width: 20%;
    background-color: rgba(255, 255, 255, 0.56);
    border-radius: 10%;
    text-align: center;
    padding-top: 4%;
}

.h4section3detailmovie {
    font-size: larger;
}

.listsdetailmovie {
    padding-left: 0%;
}

.itemlista1detailmovie {
    list-style-type: none;
    width: 70%;
    height: 50px;
    text-align: center;
    background-color: rgb(131, 72, 133);
    border: solid 2px rgb(95 55 96);
    padding: 12px;
    margin: 5% 15%;
    border-radius: 20%;
}

.actoresdetailmovie {
    list-style-type: none;
    margin: 5%;
}

.linknavdetailmovie {
    text-decoration: none;
    color: white;
    font-weight: bolder;
    display: flex;
    justify-content: center;
}


.trailerdetailmovie {
    width: 50%;
}

.articlebuttondetailmovie {
    display: flex;
    justify-content: center;
    margin-top: 28px;
}

.buttondetailmovie {
    background-color: rgb(131, 72, 133);
    border: solid 2px rgba(255, 255, 255, 0.56);
    color: white;
    padding: 12px 24px;
}


/* Estilo DETALLE SERIES (detail-serie) */

.bodydetailserie {
    background-image: url(../img/B99Cover\ copy.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    height: 100%;
    color: rgb(0, 0, 0);
}


/* Estilo FAVORITOS (favorite) */




/* Estilo GENEROS (genres) */
.titulogeneros {
    text-align: center;
    /*define la alineacion del texto*/
    margin-top: 20px;
    text-decoration: none;
    font-size: xx-large;
    padding: 10px;
    background: #6d28a1;
    color: white;
}

.lista-generos,
.lista-generos-series {
    display: flex;
    /*Definir al contenedor padre como contenedor flexible*/
    justify-content: space-around;
    /*main axis*/
    align-items: center;
   /*cross axis*/
    flex-direction: column;
    padding: 25px;


}

.genero-terror,
.genero-romance,
.genero-accion,
.genero-musical,
.genero-comedia,
.genero-fantasia,
.genero-drama {  /*#ID*/
    padding-right: 30px;
    font-size: 30px;
    background: rgb(131, 72, 133);
    border: solid 2px rgb(95 55 96); /*estilo de linea*/
    text-align: center;
    margin: 10px 0px;
    padding: 10px;
    color: rgb(240, 240, 232);
    border-radius: 10%; /*las puntas redondas*/
}

.body-generos {
    background: #37404b;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0px;
}

.linkgenerosseries {
    text-decoration: none;
    color: white;
}

.titulopeliculas,
.tituloseries {
    text-align: center;
    background: #1e20619e;
    color: white;
    padding: 5px;
}

.articleseries {
    padding: 0px;
    /*para que no haya espacio en los costados*/
}

.articlepeliculas {
    padding: 0px;
}

.genero-drama,
.genero-fantasia,
.genero-accion,
.genero-drama {
    color: white;
    text-align: center;
}

/*si un elemento no tiene declarado width, se le da el 100% de su padre contenedor */

/* Estilo DETALLE DEL GENERO (detail-genres) */

.bodydetail {
    background-color: #37404b;
}

.tituloterror {
    text-align: center;
    margin: 20px;
    text-decoration: none;
    font-size: xx-large;
    padding: 10px;
    color: white;
    background: rgba(110, 93, 151, 0.824);
}

/* Estilo RESULTADO DE BUSQUEDA (search-results) */

.listados-ocultado {
    display: none;
    /*oculta un elemento en la vista, no lo elimina de la estructura del HTML. Es un efecto visual.*/
}

/* RESPONSIVE*/
@media(max-width: 420px) {

    
    header {
        flex-direction: column;
        padding: 10px 0;

    }

    nav.nav {
        flex-direction: column;
    }

    .caja {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 10px;
    }

    .fondo {
        padding: 2%;
        margin-bottom: 15px;
    }

    footer {
        
        height: auto;
        text-align: center;
    }


    .section1detailmovie {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        justify-content: space-between;
        align-items: stretch;
    }

    .movieposterdetailmovie {
        width: 100%;
        height: initial;
    }

    .articlesection1detailmovie {
        width: 100%;
        margin-top: 15px;
        margin-bottom: 0px;
    }

    .section2detailmovie{
        margin-top: 15px;
        margin-bottom: 0px;
    }

    .section3detailmovie {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        justify-content: space-around;
        align-items: stretch;
    }

    .articlesection3detailmovie {
        width: 100%;
        margin-bottom: 0px;
        margin-top: 15px;
    }

    .trailerdetailmovie {
        width: 100%;
    }
    
    .articlebuttondetailmovie{
        margin-bottom: 20px;
    }

    .peli-genero{
        margin-bottom: 45px;
    }

}