* {
    box-sizing: border-box;
}
   
   /* Estilo HEADER Y FOOTER */




   /* Estilo HOME (index) */




   /* Estilo DETALLE PELICULAS (detail-movie) */
   .bodydetailmovie {
    background-image: url(../img/MammaMiacover\ copy.webp);
    background-repeat: no-repeat;
    background-size:cover;
    background-attachment: fixed;
        height: 100%;
        color: rgb(0, 0, 0);
    }
    
    .maindetailmovie {
        background-color: rgb(195, 150, 165);
        width: 90vw;
        margin: auto;
        margin-top: 2%;
        margin-bottom: 2%;
        padding: 2%;
    }
    
    .section1detailmovie {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: space-between;
    }
    
    .movieposterdetailmovie {
        width: 35%;
        height:initial;
    }
    
    .articlesection1detailmovie{
        background-color: rgba(255, 255, 255, 0.325);
        padding: 2%;
        text-align: center;
        width: 50vw;
        border-radius: 5%;
        border: dotted 5px rgba(195, 150, 165, 0.742);
    }
    .titledetailmovie{
        font-size: 70px;
        margin: 2%;
    }
    
    .divsection1detailmovie{
        font-size:24px;
    }
    
    .psection1detailmovie{
        margin-top: 0%;
    }
    
    .h4section1detailmovie{
        margin-bottom: 2%;
    }
    
    .section2detailmovie{
        background-color: rgba(255, 255, 255, 0.325);
        padding: 1% 5% 2% 5%;
        text-align: center;
        margin: 2%;
        margin-left: 0;
        margin-right: 0;
        font-size: 18px;
    }
    
    .section3detailmovie{
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: space-around;
        align-items:stretch;
    }
    
    .articlesection3detailmovie{
    width: 20%;
    background-color: rgba(255, 255, 255, 0.325);
    border-radius: 10%;
    text-align: center;
    padding-top: 4%;
    }
    
    .h4section3detailmovie{
    font-size: larger;
    }
    
    .listsdetailmovie{
        padding-left: 0%;
    }
    
    .itemlista1detailmovie{
        list-style-type: none;
        width: 70%;
        height: 50px;
        text-align: center;
        background-color: rgb(143, 111, 122);
        border: solid 3px rgb(71, 54, 59);
        padding: 13px;
        margin: 5% 15%;
        border-radius: 20%;
    }
    
    .actoresdetailmovie{
        list-style-type: none;
        margin: 5%;
    }
    
    .linknavdetailmovie {
        text-decoration: none;
        color: white;
        font-weight: bolder;
    }
    
    
    .trailerdetailmovie{
        width: 50%;
    }    



   /* Estilo DETALLE SERIES (detail-serie) */




   /* Estilo FAVORITOS (favorite) */




   /* Estilo GENEROS (genres) */
   .titulogeneros{
    text-align: center;
    margin: 0px;
    text-decoration: none;
    background-color: rgb(248, 231, 248);
    font-size: xx-large;
    padding: 10px;
    }
    
    .lista-generos, .lista-generos-series {
        display: flex;
        justify-content: space-around;
        align-items: center;
        padding: 25px;
        background-color: rgb(249, 246, 251);
        list-style: none;
        
    }
    
    .genero-terror, .genero-romance,.genero-accion, .genero-cienciaficcion, .genero-fantasia, .genero-drama {
        padding-right: 30px;
        font-size: 30px;
    }
    
    .body-generos{
        background-image: url(../img/backgroundgeneros.jpeg);
        background-repeat: no-repeat;
        background-size: cover;
        margin: 0px;
    }

    a{
        text-decoration: none;
        color: rgb(2, 2, 2);
    }
    
    .titulopeliculas, .tituloseries{
        text-align: center;
        background-color: rgb(190, 185, 196);
        padding: 5px;

    }

    .article-generos{
        background-image: url(../background\ generos\ 1.jpeg\);
    }

    .articleseries {
        padding: 20px;
    }

    .articlepeliculas {
        padding: 20px;
    }

    @media(max-width: 756px) {
        
    }
    @media(min-width: 500px){

    }

    
 /* Estilo DETALLE DEL GENERO (detail-genres) */




  /* Estilo RESULTADO DE BUSQUEDA (search-results) */